/* add for box shadow (ux option) */

/* .blog-shadow-dreamy {
   box-shadow:  0px 0px 3px 5px #ccc;
} */

.header {
color: white;
margin-top: 1.5em;
font-size: 4em;

}

.header2 {
  color: rgba(255, 255, 255, 0.644);

}

.footer2 {
   color: rgba(255, 255, 255, 0.644);
}

