<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="header">
          The leadership development platform for your organization.</h1>
        <h5 class="header2"> A simple,
          scalable plan to grow your people personally and professionally.</h5>

      </div>
    </div>
  </div>
</header>

<div class="container img-fluid" id="slidecontainer">
  <!-- <div id="home-container" className="container"> -->
  <div id="carouselExampleControls" class="carousel blog-shadow-dreamy slide mt-5 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="\assets\stock1.jpeg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img class="img2" src="\assets\stock2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="\assets\stock3.png" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h5 class="footer2 mb-3">Develop a leadership pipeline.
            Equip your organization through a consistent and intentional leader development strategy.</h5>

        </div>
      </div>
    </div>
  </footer>

</div>