<div class="container">

  <nav class="nav-bar row">
    <div class="logotwo"></div>
    <div class="logo-nav col-6">
      <h1>Wildsparq</h1>
    </div>
    <ul class="nav col-6">
      <li id="nav-item" routerLink="/homepage" class="nav-item mx-3">Home |</li>
      <li id="nav-item2" routerLink="/playlist" class="nav-item mx-3">Playlist |</li>
    </ul>
  </nav>

  <section>
    <div id="videobox" class="container text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3dHNOWTI7H8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </section>